<h2>Select a survey</h2>
<ul>
	<li ng-repeat="survey in surveyIds">{{survey.$value}} [
		<a href="#/edit/{{survey.$value}}">Edit</a> |
		<a href="#/enter_results/{{survey.$value}}">Enter Results</a> |
		<a href="#/view_results/{{survey.$value}}">View Results</a> |
		<a href="#/analysis/{{survey.$value}}">Analysis</a> ]
		[<a href="#" ng-click="deleteSurvey(survey)">X</a>]
	</li>
</ul>
<h2>Create a new survey</h2>
<p>
<form ng-submit="createSurvey()">
	<input type="text" ng-model="shortName" placeholder="shortName" required class="questionEntry halfwidth">
	<input type="submit" value="Create" class="button--primary textheight">
</form>
</p>